---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: prometheus-community
spec:
  interval: 12h
  url: oci://ghcr.io/prometheus-community/charts
  ref:
    semver: "*"
