---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: homeassistant
spec:
  parentRefs:
    - name: envoy-internal
      namespace: network
      sectionName: https
  hostnames:
    - "ha.k8s.alexieff.io"
  rules:
    - backendRefs:
        - name: homeassistant
          port: 8123
