---
apiVersion: v1
kind: Service
metadata:
  name: consul-sync
  labels:
    app.kubernetes.io/name: consul-sync
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: consul-sync
