---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arc-controller
spec:
  chart:
    spec:
      chart: gha-runner-scale-set-controller
      version: 0.x
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
  interval: 1h
  install:
    remediation:
      retries: 3
  values:
    replicaCount: 1
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 256Mi
