---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-monitoring
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/flux-system/monitoring/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  targetNamespace: flux-system
