---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./jetkvm/ks.yaml
  - ./librechat/ks.yaml
  - ./zone-editor/ks.yaml
