---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ./helmrepository.yaml
  - ./helmrelease.yaml
  # VMSingle will be added after operator installs CRDs
  # - ./vmsingle.yaml
