---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./external-secrets-operator/ks.yaml
  - ./onepassword-connect/ks.yaml
  - ./onepassword-secret-store/ks.yaml
