---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: consul
spec:
  hostnames: ["consul.k8s.alexieff.io"]
  parentRefs:
    - name: envoy-internal
      namespace: network
      sectionName: https
  rules:
    - backendRefs:
        - name: consul
          port: 8500
