---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-state-metrics
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/monitoring/kube-state-metrics/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  targetNamespace: monitoring
