---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: falco
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/monitoring/falco/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  targetNamespace: monitoring
